<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card class="card">
    <ion-card-content>
      <ion-avatar class="logo">
        <div>
        <img src="assets/icon/heart-logo.png"/>
      </div>
      </ion-avatar>
      <p style="text-align:center; font-weight: bold; font-size: large; margin-top: 5%;">Reset Your Password</p>
    </ion-card-content>
  </ion-card>

  <div class="div-content">
  <ion-item>
    <ion-input type="Password" placeholder="New Password:"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="stacked" style="font-size: 60%; color:black">Please enter the verification code sent to your mobile.</ion-label>
    <ion-input type="Text" placeholder="Verification Code:"></ion-input>
  </ion-item>
  </div>

  <ion-button class="btn" size="full" fill="clear" [routerLink]="['/reset-password-u']">CONFIRM</ion-button>

</ion-content>
