<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916138829343-56c2upp9jc6grnjdqqfmj4v8ctcl7rvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916138829343-56c2upp9jc6grnjdqqfmj4v8ctcl7rvc</string>
	<key>API_KEY</key>
	<string>AIzaSyB1pfZAlpayV7384dOd9sKMmkD5bkmwyks</string>
	<key>GCM_SENDER_ID</key>
	<string>916138829343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.polygonsclub.heartfit</string>
	<key>PROJECT_ID</key>
	<string>heart-fit-9a859</string>
	<key>STORAGE_BUCKET</key>
	<string>heart-fit-9a859.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916138829343:ios:fed9cf977997da6824972a</string>
</dict>
</plist>