

<ion-content>
  <!--<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="reset-password"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>-->
  <ion-card class="card">
    <ion-card-content>
      <ion-avatar class="logo">
        <div>
        <img src="assets/icon/heart-logo.png"/>
      </div>
      </ion-avatar>
      <p style="text-align:center; font-weight: bold; font-size: large; margin-top: 5%; color:#314887">Reset Your Password</p>
    </ion-card-content>
  </ion-card>
<form [formGroup]="myForm">
  <div class="div-content">
  <ion-item class="inputFields">
    <ion-input type="email" placeholder="Email:" [(ngModel)]="formData.userEmail" name="inputUserEmail" formControlName="controlUserEmail"></ion-input>
  </ion-item>
    <ion-item *ngIf="!myForm.controls.controlUserEmail.valid && (submitAttempt)">
      <p class="errorMsg">Please enter a valid email</p>
    </ion-item>
    <ion-item *ngIf="(invalidEmail)">
      <p class="errorMsg">User not found</p>
    </ion-item>
  </div>
</form>
  <ion-button class="btn" size="full" fill="clear" (click)="verifyEmail()">SUBMIT</ion-button>

</ion-content>

