<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="welcome"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card class="card">
    <ion-card-content>
      <ion-avatar class="logo">
        <div>
          <img src="assets/icon/heart-logo.png"/>
        </div>
      </ion-avatar>
      <p style="text-align:center; font-weight: bold; font-size: large; margin-top: 5%;">My Program</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="bodyCard">
    <h1>Exercise Questions</h1>
    <p class="description">For your health and safety. please try to think about your level of physical fitness and choose the right option.</p>
    <br>
    <table>
      <tr>
        <td>
          <p>Your general physical fitness is:</p>
        </td>
        <td>
          <ion-item>
            <ion-select value="veryPoor">
              <ion-select-option value="veryPoor">Very Poor</ion-select-option>
              <ion-select-option value="poor">Poor</ion-select-option>
              <ion-select-option value="normal">Normal</ion-select-option>
              <ion-select-option value="good">Good</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
      </tr>
      <br>
      <tr>
        <td>
          <p>Your cardio-respiratory fitness(capacity to do exercise,for instance running, for a long time)is:</p>
        </td>
        <td>
          <ion-item>
            <ion-select value="veryPoor">
              <ion-select-option value="veryPoor">Very Poor</ion-select-option>
              <ion-select-option value="poor">Poor</ion-select-option>
              <ion-select-option value="normal">Normal</ion-select-option>
              <ion-select-option value="good">Good</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
      </tr>
      <br>
      <tr>
        <td>
          <p>Your muscular strength is:</p>
        </td>
        <td>
          <ion-item>
            <ion-select value="veryPoor">
              <ion-select-option value="veryPoor">Very Poor</ion-select-option>
              <ion-select-option value="poor">Poor</ion-select-option>
              <ion-select-option value="normal">Normal</ion-select-option>
              <ion-select-option value="good">Good</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
      </tr>
      <br>
      <tr>
        <td>
          <p>Yor speed/agility is:</p>
        </td>
        <td>
          <ion-item>
            <ion-select value="veryPoor">
              <ion-select-option value="veryPoor">Very Poor</ion-select-option>
              <ion-select-option value="poor">Poor</ion-select-option>
              <ion-select-option value="normal">Normal</ion-select-option>
              <ion-select-option value="good">Good</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
      </tr>
      <br>
      <tr>
        <td>
          <p>Your flexibility is:</p>
        </td>
        <td>
          <ion-item>
            <ion-select value="veryPoor">
              <ion-select-option value="veryPoor">Very Poor</ion-select-option>
              <ion-select-option value="poor">Poor</ion-select-option>
              <ion-select-option value="normal">Normal</ion-select-option>
              <ion-select-option value="good">Good</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
      </tr>
    </table>
  </ion-card>
  <ion-button class="btn" size="full" fill="clear" (click)="setupProgram()">SET UP PROGRAM</ion-button>
</ion-content>
