h1{
  color:#2f4caa;
  text-align: center;
}
.bodyCard{
  margin-top:70%;
}
p{
  text-align: left;
  font-size: small;
  color:#2f4caa;
  padding-left: 10%;
}

.description{
  text-align: center;
  font-size: small;
  color:#2f4caa;
}

ion-select{
  font-weight: bold;
  font-size: small;
}

.btn{
  background-color: #314887;
  border-radius: 10px;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

