<ion-content>

<ion-card class="card">
  <ion-card-content>
    <ion-avatar class="logo">
      <div>
        <img src="assets/icon/heart-logo.png"/>
      </div>
    </ion-avatar>
    <p style="text-align:center; font-weight: bold; font-size: large; margin-top: 5%;">Welcome User</p>
    <p style="text-align:center; margin-top: 4%;">Day 2 / Week 2</p>
  </ion-card-content>
</ion-card>

  <div class="div-content-1" [routerLink]="['/my-program']">
      <ion-icon name="person-outline" color="light"></ion-icon>
      <p class="myProgrammeLbl">My Programme</p>
  </div>

  <div class="div-content-2" [routerLink]="['/dashboard']">
    <ion-icon name="clipboard-outline" color="light"></ion-icon>
    <p class="myProgrammeLbl">Dashboard</p>
  </div>

  <div class="div-content-3" [routerLink]="['/my-account']">
    <ion-icon name="settings-outline" color="light"></ion-icon>
    <p class="myProgrammeLbl">My Account</p>
  </div>

  <div class="div-content-4" [routerLink]="['/heart-health']">
    <ion-icon name="book-outline" color="light"></ion-icon>
    <p class="myProgrammeLbl">Heart Health</p>
  </div>




</ion-content>
