ion-icon {
  font-size: 64px;
  margin-right: 80%;
  margin-left: 20%;
}

.myProgrammeLbl{
  font-size: 12px;
  text-align:center;
  color:white;
  margin: auto;
}

.div-content-1{
  margin-top:70%;
  background-color: #2f4caa;
  border-radius: 5px;
  font-size: 74px;
  margin-left: 15%;
  width: 30%;
}

.div-content-2{
  margin-top:-26%;
  background-color: #2f4caa;
  border-radius: 5px;
  font-size: 74px;
  width: 30%;
  margin-left: 56%;
}

.div-content-3{
  margin-top:12%;
  background-color: #2f4caa;
  border-radius: 5px;
  font-size: 74px;
  margin-left: 15%;
  width: 30%;
}

.div-content-4{
  margin-top:-26%;
  background-color: #2f4caa;
  border-radius: 5px;
  font-size: 74px;
  margin-left: 56%;
  width: 30%;
}


