<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-card class="card">
    <ion-card-content>
      <ion-avatar class="logo">
        <div>
          <img src="assets/icon/heart-logo.png"/>
        </div>
      </ion-avatar>
      <p style="text-align:center; font-weight: bold; font-size: large; margin-top: 5%;">My Account</p>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin-top: 45%; padding-top: 4%; padding-bottom: 4%">
    <ion-item class="cb">
      <ion-input type="Text" placeholder="Change Password" name="inputUserName"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card style="padding-top: 4%; padding-bottom: 4%">
    <ion-item class="cb">
      <ion-input type="Text" placeholder="Change Phone Number" name="inputUserPhoneNumber"></ion-input>
    </ion-item>
    <br>
    <ion-item class="inputTP">
      <ion-input type="tel" placeholder="Phone Number" name="inputUserPhoneNo" maxlength="10"></ion-input>
    </ion-item>
  </ion-card>

  <ion-button class="btn" size="full" fill="clear">SUBMIT</ion-button>

  <ion-card style="padding-top: 4%; padding-bottom: 4%">
    <ion-item class="cb">
      <ion-input type="Text" placeholder="Help" name="inputUserName"></ion-input>
    </ion-item>
    <p class="question">How can help?</p>

    <ion-item class="textArea">
      <ion-textarea></ion-textarea>
    </ion-item>
<br>
    <ion-button class="btn" size="full" fill="clear">SUBMIT</ion-button>
  </ion-card>
</ion-content>
